# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PythonTraining\IPV6_DDNS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
